#header {
    color:aquamarine;
}

#getFile {
    display: none;
}

#buttons {
    margin-bottom: 30px;
}

#postSide {
    width:40%;
    height:85%;
    float:right;
    margin-right: 20px; 
    margin-left: -50px;
}

#postDisplay {
    border: 2px solid blanchedalmond;
    width:100%;
    height:90%;
    display: inline-flex;
    margin-left: -50px;

    overflow-x:scroll;
}

#calendars {
    width: 60%;
    height: 95%;
    float:left;
}

h3 {
    color:lightgreen;
}

body {
    background-color: #313339;
}

a, p {
    color: blanchedalmond;
}

table {
    height: 20%;
    width: 30%;
    padding: 10px 10px 10px 10px;
    text-align: center
}


th, td {    
    border: 0.5px solid gainsboro;
    text-align: center
}


.hideByDefault {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 17%;
    width: 82%;
    padding-bottom: 23px;
  }

.post {
    padding: 10px 10px 10px 10px;
    margin: auto;
}





